name: Build Node.js Project

on:
  workflow_call:
    inputs:
      path-to-artifact:
        required: true
        type: string

jobs:
  build-nodejs:
    runs-on: ubuntu-latest

    steps:
      # Step 1: Checkout the repository
      - name: Checkout Code
        uses: actions/checkout@v4

      # Step 2: Set up Node.js environment
      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 'lts/*'
          cache: 'npm'

      # Step 3: Install dependencies
      - name: Install Dependencies
        run: npm ci

      # Step 4: Build the project
      - name: Build Project
        run: npm run build

      # Step 5: Upload build artifacts
      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: build-artifacts
          path: |
            ${{ inputs.path-to-artifact }}
            eng/ecosystem.config.js
            package.json
            package-lock.json

