name: Deploy

on:
  workflow_call:
    inputs:
      pre-deploy-script:
        description: "Optional script to run before deployment"
        required: false
        type: string
    secrets:
      SSH_HOST:
        required: true
      SSH_PRIVATE_KEY:
        required: true
      SSH_USER:
        required: true

jobs:
  deploy-via-ssh:
    runs-on: ubuntu-latest
    env:
      APP_NAME: ${{ github.event.repository.name }}
      APP_ENV: ${{ github.ref_name == 'main' && 'production' || github.ref_name }}
      SSH_HOST: ${{ secrets.SSH_HOST }}
      SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
      SSH_DESTINATION: ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }}

    steps:
      - name: Download Artifact
        uses: actions/download-artifact@v4

      - name: Setup SSH
        run: |
          eval "$(ssh-agent -s)"
          echo "SSH_AUTH_SOCK=$SSH_AUTH_SOCK" >> $GITHUB_ENV
          echo "SSH_AGENT_PID=$SSH_AGENT_PID" >> $GITHUB_ENV
          echo "$SSH_PRIVATE_KEY" | ssh-add -

          mkdir -p ~/.ssh
          ssh-keyscan -H "$SSH_HOST" >> ~/.ssh/known_hosts

      - name: Deploy to Server
        run: |
          rsync -avzrc -e ssh --delete ./build-artifacts/* $SSH_DESTINATION:~/$APP_NAME-$APP_ENV
          ssh $SSH_DESTINATION "bash -s" << EOF
            set -e
            cd ~/${APP_NAME}-${APP_ENV}
            ${{ inputs.pre-deploy-script || '' }}
            env APP_NAME=${APP_NAME} APP_ENV=${APP_ENV} VAULT_ADDR=http://localhost:9202 \
                pm2 startOrReload eng/ecosystem.config.js --update-env > /dev/null
            pm2 save
          EOF
