name: Deploy

on:
  workflow_call:
    secrets:
      SSH_HOST:
        required: true
      SSH_PRIVATE_KEY:
        required: true
      SSH_USER:
        required: true
      VAULT_ADDR:
        required: true
      VAULT_ROLE_ID:
        required: true
      VAULT_SECRET_ID:
        required: true

jobs:
  deploy-via-ssh:
    runs-on: ubuntu-latest
    env:
      APP_ENV: ${{ github.event.repository.name }}-${{ github.ref_name == 'main' && 'production' || github.ref_name }}
      SSH_HOST: ${{ secrets.SSH_HOST }}
      SSH_USER: ${{ secrets.SSH_USER }}
      SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}

    steps:
      - name: Set up SSH
        run: |
          eval "$(ssh-agent -s)"
          echo "SSH_AUTH_SOCK=$SSH_AUTH_SOCK" >> $GITHUB_ENV
          echo "SSH_AGENT_PID=$SSH_AGENT_PID" >> $GITHUB_ENV
          echo "$SSH_PRIVATE_KEY" | ssh-add -

          mkdir -p ~/.ssh
          ssh-keyscan -H "$SSH_HOST" >> ~/.ssh/known_hosts

      - name: Download Artifact
        uses: actions/download-artifact@v4

      - name: Get Secrets from Vault
        id: vault
        uses: hashicorp/vault-action@v3
        with:
          url: ${{ secrets.VAULT_ADDR }}
          method: approle
          exportEnv: false
          roleId: ${{ secrets.VAULT_ROLE_ID }}
          secretId: ${{ secrets.VAULT_SECRET_ID }}
          secrets: kv/data/${{ env.APP_ENV }} *

      - name: Deploy to Server
        run: |
          rsync -avzre ssh --delete ./build-artifacts/* "$SSH_USER@$SSH_HOST:~/$APP_ENV"
          ssh "$SSH_USER@$SSH_HOST" bash -s << EOF
            set -e
            cd ~/$APP_ENV
            npm install --omit=dev
            env APP_ENV=$APP_ENV \
                SECRETS='${{ toJSON(steps.vault.outputs) }}' \
                pm2 startOrReload eng/ecosystem.config.js --update-env > /dev/null
            pm2 save
          EOF
