name: Deploy

on:
  workflow_call:
    inputs:
      pre-deploy-commands:
        description: "Commands to run before deployment"
        required: false
        type: string
    secrets:
      SSH_HOST:
        required: true
      SSH_PRIVATE_KEY:
        required: true
      SSH_USER:
        required: true
      VAULT_ADDR:
        required: true
      VAULT_ROLE_ID:
        required: true
      VAULT_SECRET_ID:
        required: true

jobs:
  deploy-via-ssh:
    runs-on: ubuntu-latest
    env:
      APP_ENV: ${{ github.event.repository.name }}-${{ github.ref_name == 'main' && 'production' || github.ref_name }}
      SSH_HOST: ${{ secrets.SSH_HOST }}
      SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
      SSH_DESTINATION: ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }}

    steps:
      - name: Download Artifact
        uses: actions/download-artifact@v4

      - name: Set up SSH
        run: |
          eval "$(ssh-agent -s)"
          echo "SSH_AUTH_SOCK=$SSH_AUTH_SOCK" >> $GITHUB_ENV
          echo "SSH_AGENT_PID=$SSH_AGENT_PID" >> $GITHUB_ENV
          echo "$SSH_PRIVATE_KEY" | ssh-add -

          mkdir -p ~/.ssh
          ssh-keyscan -H "$SSH_HOST" >> ~/.ssh/known_hosts

      - name: Set up SSH tunnel to Vault
        run: |
          sudo iptables -t nat -A OUTPUT -d 10.8.0.1 -p tcp --dport 443 -j DNAT --to-destination 127.0.0.1:8443
          ssh -fN -L 127.0.0.1:8443:10.8.0.1:443 $SSH_DESTINATION

      - name: Get Secrets from Vault
        id: vault
        uses: hashicorp/vault-action@v3
        with:
          url: ${{ secrets.VAULT_ADDR }}
          method: approle
          exportEnv: false
          roleId: ${{ secrets.VAULT_ROLE_ID }}
          secretId: ${{ secrets.VAULT_SECRET_ID }}
          secrets: kv/data/${{ env.APP_ENV }} *

      - name: Deploy to Server
        run: |
          rsync -avzre ssh --delete ./build-artifacts/* $SSH_DESTINATION:~/$APP_ENV
          ssh $SSH_DESTINATION bash -s << EOF
            set -e
            cd ~/$APP_ENV
            ${{ inputs.pre-deploy-commands || '' }}
            env APP_ENV=$APP_ENV \
                SECRETS='${{ toJSON(steps.vault.outputs) }}' \
                pm2 startOrReload eng/ecosystem.config.js --update-env > /dev/null
            pm2 save
          EOF
